@model int

<div class="container pt-4">
    <div class="col-12 text-center">
        <h4 class="text-primary text-center">
            Xác nhận đặt phòng thành công
        </h4>
        <br />
        <p>Mã đơn hàng của bạn: @Model</p>
    </div>
    <div class="col-12 text-danger text-black">
        <p class="pt-1">Chúng tôi sẽ xử đơn hàng của bạn trong thời gian ngắn nhất</p>
    </div>
</div>